<button class="btn btn-primary" (click)="Displayipo()" >Display</button>            
    <table class="table">

        <thead>
       
        <tr>
       
        <th>ID</th>
        <th>companyName</th>
       
        <th>StockExchange </th>
       
        <th>pricePerShare</th>
        <th> totalNoOfShares</th>
        <th> openDateTime</th>
        <th>remarks</th>
       
        </tr>
       
        </thead>
       
        <tbody>
       
        <tr *ngFor="let item of list">
       
            <td>{{item.id}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.stockExchange}}</td>
            <td>{{item.pricePerShare}}</td>
            <td>{{item.totalNoOfShares}}</td>
            <td>{{item.openDateTime}}</td>
            <td>{{item.remarks}}</td>

        
        
       
        </tr>
       
        
       
        
       
        </tbody>
       
        </table>


        <br>
        <br>
        <br>
        <button class="btn btn-primary" [routerLink]="['/userlogin']" >Back</button>               